[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
pep8 = "*"
mypy = "*"

[packages]
boto3 = "*"
python-dotenv = "*"
pytest = "*"
encryption = "*"
cryptography = "*"
flask = "*"
# gpg = {version = "*", sys_platform = " == 'linux'"}
watchdog = "*"
flask-paginate = "*"

[requires]
python_version = "3.7"
